
<!-- templates/base.html -->
{% load static %}

 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Annapurna{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block app_css %}{% endblock %}
    </head>
    <body>
        <div class="TitleBanner">

        </div>
        <div class="banner">

        </div>
        <div class="content">

        </div>
        <footer>&copy; 2024 Bibek Ghimire</footer>
    </body>
 </html>