{% extends 'base.html' %}
{% load static %}

        {% block title %}
        <title>कर्मचारिहरु</title>
        {% endblock %}

{% block contents %}
        <div class="emp-list">
                <h1>कर्मचारिहरु</h1>
                <table>
                        <thhead>
                                <tr>
                                        <!-- <th>क्र.स.</th> -->
                                        <th>नामथर</th>
                                        <th>पद</th>
                                        <th>शाखा</th>
                                        <th>सम्पर्क नं</th>
                                        <th>इमेल</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for emp in emps %}
                                <tr>
                                        <td>{{ emp }}</td>
                                        <td>{{ emp.emp_post }}</td>
                                        <td>{{ emp.section }}</td>
                                        <td>{{ emp.phone_number }}</td>
                                        <td>{{ emp.email }}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>

{% endblock %}